{% extends 'base.html' %}
{% block title %}{{post.title}}{% endblock%}

{% block content %}

<h1>{{ post.title }}</h1>
By: {{ post.author.first_name}} {{ post.author.last_name}}
    - {{ post.category }}
    - {{ post.post_date }}

  {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
  <small>
    <a href="{% url 'update_post' post.pk %}">(edit)</a>
    <a href="{% url 'delete_post' post.pk %}">(delete)</a>
  </small>
  <hr>
    {% endif %}
{% endif %}

<hr>
{{ post.body|safe }}
<br>

<a href="{% url 'home' %}">Back</a>
<br><br>
<hr>

<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}

    {% if user.is_authenticated %}

        {% if liked %}
            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger">Unlike</button>
        {% else %}
            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary">Like</button>
        {% endif %}

    {% else %}
    <small><a href="{% url 'login' %}">Login </a>to like</small>
    {% endif %}

    - {{ total_likes }} likes
</form>



{% endblock %}
