{% extends 'base.html' %}

{% block content %}
<h1>{{ cats|title }}</h1>

{% if category_posts %}
<ul>
  {% for post in category_posts %}

      <li>
        <a href="{% url 'article_detail' post.pk %}">{{ post.title }}</a>

        - {{ post.author.first_name }}
        {{ post.author.last_name }} - {{ post.post_date }}
        {% if user.is_authenticated %}
          <small>
            <a href="{% url 'update_post' post.pk %}">(edit)</a>
            <a href="{% url 'delete_post' post.pk %}">(delete)</a>
          </small>  <br/>
        {% endif %}

        {{ post.body|slice:"200"|safe }}
        <hr>
      </li>

  {% endfor %}
</ul>

{% else %}
    <h2>This Category Does Not Exists....</h2>
{% endif %}

{% endblock %}
